# node-sass argument of installation registry site for fixing the network issue.
# if even can not solve problem, use 'npm install -g mirror-config-china && yarn global add node-sass' 
SASS_BINARY_SITE=http://npm.taobao.org/mirrors/node-sass

